@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.nav {
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: white;
    max-height: 0;
    text-transform: uppercase;
    font-family: 'Megrim', sans-serif;
    text-align: center;
    overflow: hidden;
    
    -webkit-transition: all 500ms linear;
    -o-transition: all 500ms linear;
    -moz-transition: all 500ms linear;
    transition: all 500ms linear;
}

.nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 0.5em;
}

.nav a:hover {
    color: white;
    background-color: #B97922;
}

.nav-check {
    position: absolute;
    top: -3em;
}

.nav-check:checked ~ .nav {
    max-height: 5em;
}

.nav-label {
    cursor: pointer;
    font-size: 1.50rem;
    display: inline-block;
    width: 40px;
}

.nav-open,
.nav-close {
    display: block;
    width: 100%;
    margin: .5rem;
}

.nav-close {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-open {
    display: none;
}

.nav-check:checked ~ .nav-label .nav-close {
    display: block;
}

.nav li {
    display: inline-block;
    text-align: center;
}

.bannerimg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center;
   -webkit-animation: scale 5s ease-in-out infinite alternate;
    animation: scale 5s ease-in-out infinite alternate;
}

@-webkit-keyframes scale {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.05,1.05);
    }
}

@keyframes scale {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.05,1.05);
    }
    
}


.banner {
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.name {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    overflow: hidden;
    padding: 5em 0 1em;
    margin: 3rem 0;
    line-height: 1;
    position: relative;
}

.logo {
    position: absolute;
    width: 10rem;
    top: 3rem;
    bottom: 3rem;
    left: calc(50% - 5rem);
    -webkit-animation: rotate 10s linear infinite;
    animation: rotate 10s linear infinite;
}

@-webkit-keyframes rotate {
        
    0% {
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(360deg)
    }
}

@keyframes rotate {
        
    0% {
        transform: rotate(0deg)
    }
    
    100% {
        transform: rotate(360deg)
    }
    
}

.jesso {
    font-family: 'Megrim', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    transition: all 0.5s ease;
}

.name:hover .jesso {
    color: white;
}
    
.leigh {
    font-family: 'Megrim', sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    text-align: center;
    transition: all 0.5s ease;
}

.name:hover .leigh {
    color: white;
}

.tabs {
    margin: 0;
    padding: 0;
}

.tabs-li {
    display: block;
    text-align: center;
    margin: 0 auto;
    list-style-type: none;
}

[hidden] {
    display: none;
}

.tab-name {
    text-decoration: none;
    font-family: 'Megrim', sans-serif;
    text-align: center;
    color: #B97922;
    font-size: 1.8rem;
    font-size: 2rem;
    padding: .5rem;
    width: 100%;
    display: block;
}

.tab-name:hover {
    background-color: black;
    color: white;
}

.artimgs {
    border: 5px solid black;
    display: block;
    margin: 0 auto;
    position: absolute;
}

.tab-panels {
    text-align: center;
    position: relative;
}

.tab-panels img {
    width: 50%;
    left: 25%;
    right: 25%;
    top: 1rem;
}

.nav-open {
    width: 25px;
}

.nav-close {
    width: 25px;
}

.artimg1,
.artimg2,
.artimg3 {
    left: 0;
    position: absolute;
    top: 50px;
    transition: all 200ms linear;
    opacity: 0;
}

.js-toggle-show {
    opacity: 1;
}

.about {
    font-family: sans-serif;
    color: #B97922;
    padding-top: 15rem;
}

@media only screen and (min-width: 25em) {
    
    .tab-name {
        font-size: 1.5rem;
    }
    
    .about {
        padding-top: 25rem;
    }
}

@media only screen and (min-width: 38em) {
    
    
    .jesso {
        font-size: 7rem;
    }

    .leigh {
        font-size: 7rem;
    }
    
    .logo {
        width: 11rem;
        top: 2rem;
        left: calc(50% - 5.5rem);
    } 
    
    .artimgs {
        width: 13rem;
    }
    
    .nav {
        font-size: 1.5rem;
    }
    
    .tab-name {
        font-size: 2.5rem;
    }
    
    .about {
        margin: 2rem;
        font-size: 1.6rem;
        padding-top: 30rem;
    }
}

@media only screen and (min-width: 60em) {
    
    .logo {
        width: 13rem;
        top: .4rem;
        left: calc(50% - 6.5rem);
    }
    
    .jesso {    
        font-size: 10rem;
    }

    .leigh {
        font-size: 10rem;
    } 
    
    .tab-name {
        font-size: 3rem;
    }
    
    .artimgs {
        width: 19rem;
    }
    
    .nav {
        font-size: 2rem;
    }
    
    .about {
        margin: 2rem;
        font-size: 1.6rem;
        padding-top: 40rem;
    }
}