@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.banner {
    background-image: url(../images/banner.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
    padding: 3rem 0;
    animation: scale 5s ease-in-out infinite alternate;
}

@keyframes scale {
    
    0% {
        transform: scale(1,1);
    }
    
    100% {
        transform: scale(1.2,1.2);
    }
    
}

.name {
    background-color: rgba(255, 255, 255, 0.4);
    text-align: center;
    overflow: hidden;
    padding: 2em;
    margin: 0;
}

.logo {
    position: absolute;
    width: 12rem;
    top: 4.3rem;
    bottom: 3rem;
    left: calc(50% - 6.5rem);
    
}

.jesso {
    float: left;
    font-size: 4rem;
    font-family: 'Megrim', sans-serif;
    text-transform: uppercase;
}

.leigh {
    float: right;
    font-size: 4rem;
    font-family: 'Megrim', sans-serif;
    text-transform: uppercase;
}